@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$main-font: 'Press Start 2P', cursive;
$title-font: 'Bangers', cursive;
$sub-title-font: 'Varela Round', sans-serif;
$main-color: #616161;
$action-button-background: #d3d3d3;
$pokemon-blue-color: #499df2;
$pokemon-yellow-color: #f8c822;
